
<div class="bg">
    
    <h3 style="text-align: center"><span class="gold">E</span>Z CONDO</h3>
    <div>
    <div class="first">
      <!-- <i class="fas fa-home" ></i> -->
      <p>Hello Welcome Back !</p> 
    </div>
  
  <div class="form1">
    <form action="" id="my_form" (keydown)="keyDownFunction($event,template)">
      <h3>LOGIN TO YOUR ACCOUNT</h3>
      <span><label for="username">USERNAME</label><span class="help-block"  *ngIf="usernameControl.touched && usernameControl.errors?.required">Username is required</span><span class="help-block" *ngIf="usernameControl.touched && usernameControl.errors?.pattern">Should only contain letters</span></span>
      <br>
      <input type="email" name="username" id="username" #usernameControl="ngModel" required pattern="[a-zA-Z]*" [(ngModel)]="username" placeholder="office@excondotools.com"><br>
      <span><label for="password">PASSWORD</label><span class="help-block" *ngIf="pwdControl.touched && pwdControl.errors?.required">Password is required!</span></span><br>
      <input type="password" name="pwd" id="pwd" #pwdControl="ngModel" required [(ngModel)]="pwd" placeholder="........">
      <!-- <div *ngIf="pwdControl.touched" class="help-block">
        <span class="help-block" *ngIf="pwdControl.errors?.required">Password is required!</span>
      </div> -->
      <h6>Having trouble in logging?</h6>
    </form>
  </div>
 
<div class="foo row" >
  <h5>Create New Account</h5>
    <a><button id="login" value="submit" type="submit" class="btn btn-success" (click)="open(template)" >LOGIN</button></a>

    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login Successful</h4>

      </div>
    </ng-template>
   
  </div>

</div>
<footer>© 2016 EZ Condo-All rights are reserved-Privacy Policy</footer>
</div>
<!-- </html> -->
